main{
min-height: 85vh;

}
.login-Container{

  display: flex;
  margin: auto;
margin-top: 6rem;
  justify-content: center;
  flex-direction: column;
  max-width: 35%;
}
@media (max-width: 500px) {
  .login-Container {
    min-width: 90%;
  }
}
.input-container{
  display: flex;
  flex-direction: column;
  
}
.button-container{
  display: flex;
  justify-content: center;
}
.login-header{
display: flex;
border-radius: 1rem;
justify-content: center;
color: white ;
background-color: black;
}
.login-Container h4{
  color: red;
}
/* Home screen swipper start */

#app { height: 100% }
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Home screen swipper end */