main{
min-height: 85vh;

}
.login-Container{

  min-width: 500px;
  position: absolute;
  border-radius: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1rem
}
@media (max-width: 500px) {
  .login-Container {
    min-width: 90%;
  }
}
.input-container{
  display: flex;
  flex-direction: column;
  
}
.button-container{
  display: flex;
  justify-content: center;
}
.login-header{
display: flex;
border-radius: 1rem;
justify-content: center;
color: white ;
background-color: black;
}